@media screen and (min-width: 1400px) {
    #contact {
        height: 80vh;
        min-height: 800px;
        width: 100%;
        background: #fafafa;
    }
    
    .contact-container {
        height: 100%;
    }
    
    .contact-content-wrapp {
        height: 80vh;
        min-height: 800px;
        width: 100%;
        display: flex;
        background: url('../assets/wave16.svg') bottom left no-repeat;
    }
    
    .contact-form-wrapp {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        background: url('../assets/photo-1589561253898-768105ca91a8.jpg');
        background-size: cover;
    }
    
    .background-layer {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.93);
        display: flex;
        align-items: center;
        color: #fff;
        flex-direction: column;
    }
    
    .contact-info-wrapp {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    
    .contact-form-heading-wrapp {
        height: 20vh;
        min-height: 200px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-form-heading {
        font-size: 42px;
        line-height: 65px;
    }
    
    .contact-form-subheading {
        font-weight: bold;
        font-size: 18px;
    }
    
    .contact-form-container {
        height: 60vh;
        min-height: 600px;
        width: 70%;
    }
    
    .contact-form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        width: 350px;
    }   
    
    .textarea-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 220px;
        width: 350px;
    }
    
    #name, #mail {
        border: none;
        background: none;
        border-bottom: 1px solid rgb(109, 105, 105);
        color: #fff;
        width: 100%;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        font-family: 'Do Hyeon', sans-serif;
    }
    
    #name {
        text-transform: capitalize;
    }
     
    #name:focus, #mail:focus {
        border-bottom: 1px solid #fff;
        transition: 0.4s;
    }
    
    input:focus, button:focus {
        outline: none;
    }
    
    label {
        font-size: 18px;
        font-weight: bold;
    }
    
    textarea {
        color: #fff;
        padding: 10px;
        background: none;
        border: none;
        border: 1px solid rgb(109, 105, 105);
        resize: none;
        height: 100px;
        //border-radius: 10px;
        resize: vertical;
    }
    
    .textarea-group > label {
        margin-bottom: 10px;
    }
    
    textarea:focus {
        border: 1px solid #eee;
        transition: 0.4s;
    }
    
    input:required, textarea:required {
        box-shadow:none;
    }
    
    .form-button-wrapp {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .form-button {
        margin-top: 5px;
        height: 50px;
        width: 200px;
        border-radius: 25px;
        border: none;
        background: $red;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
    }
    
    .contact-info-container {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
    }          
    
    .contact-info-heading-wrapp {
        height: 15vh;
        min-height: 150px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .contact-info-heading {
        font-size: 42px;
    }
    
    .contact-info-content {
        height: 65vh;
        min-height: 650px;
        width: 100%;
        display: flex;
        flex-direction: column; 
    }
    
    .contact-info-row {
        height: 10vh;
        min-height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    
    .contact-info-row-heading {
        font-size: 18px;
        font-weight: bold;
    }
    
    #github-ico, #ig-ico {
        font-size: 35px;
        //color: $purple;
        margin-left: 30px;
    }
    
    #github-ico:hover, #ig-ico:hover {
        color: $purple;
        transition: 0.3s;
        font-size: 45px;
    }
    
    .contact-socialmedia {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .my-mail, .yt-link {
        margin-left: 50px;
        margin-top: 3px;color: $purple;
    }
    
    .contact-container-wrapp {
        height: 100%;
        width: 100%;
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    #contact {
        height: 1500px;
        width: 100%;
        background: #fafafa;

        .contact-container {
            height: 100%;
            width: 350px;
            margin: auto;

            .contact-content-wrapp {
                height: 100%;
                width: 100%;
                
                .contact-container-wrapp {
                    height: 100%;
                    display: grid;
                    grid-template-rows: 1fr 1fr;

                    .contact-info-wrapp {
                        grid-row-start: 2;
                        grid-row-end: 3;

                        .contact-info-heading-wrapp {
                            height: 200px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            h1 {
                                font-size: 36px;
                                text-align: center;
                            }
                        }

                        .contact-info-content {
                            height: 550px;
                            display: flex;
                            flex-direction: column;

                            .contact-info-row {
                                flex: 1;

                                .contact-info-row-heading {
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-align: center;
                                    margin-top: 10px;
                                }

                                .contact-info-row-link {
                                    display: flex;
                                    justify-content: center;
                                    margin-top: 20px;

                                    a {
                                        i {
                                            font-size: 36px;
                                        }
                                    }

                                    p {
                                        color: $purple;
                                    }
                                }
                            }
                        }
                    }

                    .contact-form-wrapp {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        height: 100%;
                        //background: url('../assets/photo-1589561253898-768105ca91a8.jpg');
                        background-size: cover;
                        background-position: center;

                        .background-layer {
                            height: 100%;
                            width: 100%;
                            //background: rgba(0, 0, 0, 0.93);
                            display: flex;
                            align-items: center;
                            //color: #fff;
                            flex-direction: column;

                            .contact-form-heading-wrapp {
                                height: 200px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                            }
                            
                            .contact-form-heading {
                                font-size: 36px;
                                text-align: center;
                            }
                            
                            .contact-form-subheading {
                                font-weight: bold;
                                font-size: 18px;
                                margin-top: 10px;
                            }
                            
                            .contact-form-container {
                                height: 550px;
                            }
                            
                            .contact-form {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                justify-content: center;
                            }
                            
                            .input-group {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                height: 100px;
                                width: 300px;
                            }   
                            
                            .textarea-group {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                height: 220px;
                                width: 300px;
                            }
                            
                            #name, #mail {
                                border: none;
                                background: none;
                                border-bottom: 1px solid rgb(109, 105, 105);
                                color: #fff;
                                width: 100%;
                                font-size: 20px;
                                padding: 10px;
                                text-align: center;
                                font-family: 'Do Hyeon', sans-serif;
                            }
                            
                            #name {
                                text-transform: capitalize;
                            }
                             
                            #name:focus, #mail:focus {
                                border-bottom: 1px solid #fff;
                                transition: 0.4s;
                            }
                            
                            input:focus, button:focus {
                                outline: none;
                            }
                            
                            label {
                                font-size: 18px;
                                font-weight: bold;
                            }
                            
                            textarea {
                                color: #fff;
                                padding: 10px;
                                background: none;
                                border: none;
                                border: 1px solid rgb(109, 105, 105);
                                resize: none;
                                height: 100px;
                                //border-radius: 10px;
                                resize: vertical;
                            }
                            
                            .textarea-group > label {
                                margin-bottom: 10px;
                            }
                            
                            textarea:focus {
                                border: 1px solid #eee;
                                transition: 0.4s;
                            }
                            
                            input:required, textarea:required {
                                box-shadow:none;
                            }
                            
                            .form-button-wrapp {
                                height: 150px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            
                            .form-button {
                                margin-top: -25px;
                                height: 50px;
                                width: 200px;
                                border-radius: 25px;
                                border: none;
                                background: $red;
                                color: #fff;
                                cursor: pointer;
                                font-weight: bold;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}