@media screen and (min-width: 1400px) {
    #landing {
        height: 100vh;
        width: 100%;
        background: #fff url('../assets/wave.svg') no-repeat;
        background-position: bottom;
        min-height: 1080px;
    }   
    
    .gap {
        height: 10vh;
        min-height: 100px;
    }
    
    .landing-content {
        height: 90vh;
        width: 100%;
        min-height: 980px;
    }
    
    .landing-wrapp {
        height: 100%;
        display: flex;
    }
    
    .landing-content-column {
        flex: 1;
    }
    
    .title {
        font-size: 20px;
        background: -webkit-linear-gradient(45deg, $purple, $red);
        //background: #000;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 120px;   
    }
    
    .heading {
        margin-top: 10px;
        font-size: 62px;
    }
    
    .subheading {
        margin-top: 80px;
        font-size: 20px;
    }
    
    .landing-btn-wrapp {
        height: 60px;
        width: 240px;           
        margin-top: 70px;
    
        a {
            height: 60px;
            width: 240px;   
            
            .landing-btn {
                height: 60px;
                min-height: 60px;
                width: 240px;   
                background: linear-gradient(120deg, $red, $purple);
                //background: $red;
                display: flex;
                align-items: center;
                color: #fff;
                border-radius: 30px;
                font-weight: bold;
                font-size: 22px;
            
                .landing-btn-txt {
                    flex: 4;
                    display: flex;
                    justify-content: center;
                }
    
                .landing-btn-icon {
                    flex: 2;
                    display: flex;
                    justify-content: center;
    
                    .landing-btn-icon-circle {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #000;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    
    .landing-btn:focus {
        outline: none;
    }
    
    .landing-projects-wrapp {
        height: 70%;
        width: 100%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        svg {
            //height: 600px;
            max-width: 600px;
            position: absolute;
            //right: 0;
            top: 100px;
            //background: red;
        }
    }
    
    .landing-project-container {
        height: 200px;
        width: 400px;
        background: #fafafa;
        position: absolute;
        border-radius: 25px;
        box-shadow: 0 0 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .landing-project-content {
        height: 84%;
        width: 94%;
        border-radius: 25px;
    }
    
    .project1-content {
        background: url('../assets/website1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .project2-content {
        background: url('../assets/website2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .project3-content {
        background: url('../assets/website3.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .landing-project-bg-shadow {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }
    
    .landing-project-container:hover {
        transition: all 0.4s;
        //background: linear-gradient(90deg, $purple, $red);
        background: $purple;
        background: #fafafa;
        
        .landing-project-content {
            transition: 0.4s;
            transform: scale(0.97);
            border-radius: 25px;
    
            .landing-project-bg-shadow {
                background: rgba(0, 0, 0, 0.8);
    
                .landing-project-back-wrapp {
                    transition: 0.4s;
                    display: flex;
                }
            }
        }
    }
    
    .landing-project-back-wrapp {
        height: 100%;
        width: 100%;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
    
        h1 {
            font-size: 26px;
            color: #fff;
        }
    }
}

@media screen and (max-width: 600px) {
    #landing {
        min-height: 1100px;
        width: 100%;
        background: #fff url('../assets/wave.svg') no-repeat bottom;
    }

    .gap {
        height: 10vh;
    }

    .landing-content {
        height: 100%;
        
        .landing-wrapp {
            height: 100%;
            display: flex;
            flex-direction: column;

            .landing-content-column {

                &:nth-child(1) {
                    height: 600px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .title {
                        font-size: 20px;
                        background: -webkit-linear-gradient(45deg, $purple, $red);
                        //background: #000;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-top: 70px;   
                    }

                    .heading {
                        margin-top: 10px;
                        font-size: 42px;
                        text-align: center;
                    }

                    .subheading {
                        margin-top: 60px;
                        font-size: 16px;
                        text-align: center;
                    }

                    .landing-btn-wrapp {
                        height: 60px;
                        width: 240px;           
                        margin-top: 70px;
                    
                        a {
                            height: 60px;
                            width: 230px;   
                            
                            .landing-btn {
                                height: 60px;
                                min-height: 60px;
                                width: 230px;   
                                background: linear-gradient(120deg, $red, $purple);
                                //background: $red;
                                display: flex;
                                align-items: center;
                                color: #fff;
                                border-radius: 30px;
                                font-weight: bold;
                                font-size: 22px;
                            
                                .landing-btn-txt {
                                    flex: 4;
                                    display: flex;
                                    justify-content: center;
                                }
                    
                                .landing-btn-icon {
                                    flex: 2;
                                    display: flex;
                                    justify-content: center;
                    
                                    .landing-btn-icon-circle {
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        background: #fff;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #000;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    
                        &:focus {
                            outline: none;
                        }
                    }
                }

                &:nth-child(2) {
                    height: 500px;
                    //background: red;

                    .landing-projects-wrapp {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 80%;

                        svg {
                            height: 400px;
                            width: 370px;
                        }
                    }
                }
            }
        }
    }
}
