@media screen and (min-width: 1400px) {
    #process4 {
        height: 65vh;
        min-height: 650px;
        width: 100%;
        background: #fff url('../assets/wave8.svg') top right no-repeat;
    }
    
    .process4-container {
        height: 100%;
        display: flex;
    }
    
    .process4-content-wrapp {
        flex: 1;
        height: 100%;
    }
    
    .process4-svg-wrapp {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        
        svg {
            position: absolute;
            max-height: 550px;
            right: 0px;
        }
    }
    
    .process4-heading-wrapp {
        height: 20vh;
        min-height: 200px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    
    .process4-heading-line {
        height: 30px;
        width: 100px;
        background: $purple;
        position: absolute;
        border-radius: 25px;
        margin-bottom: 60px;
    }
    
    .process4-heading {
        font-size: 42px;
        position: absolute;
        text-transform: capitalize;
    }
    
    .process4-content {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .process4-txt {
        font-size: 20px;
        line-height: 35px;
        text-align: left;
    }
}

@media screen and (max-width: 1399px) {
    #process4 {
        height: 1000px;
        width: 100%;
        background: #fff url('../assets/wave8.svg') bottom right no-repeat;

        .process4-container {
            height: 100%;
            display: flex;
            flex-direction: column;

            .process4-content-wrapp {
                height: 500px;
                display: flex;
                flex-direction: column;

                .process4-heading-wrapp {
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;

                    h1 {
                        font-size: 36px;
                        text-align: center;
                    }
                }
                
                .process4-content {
                    height: 350px;

                    .process4-txt {
                        text-align: center;
                        margin-top: 100px;
                    }
                }
            }

            .process4-svg-wrapp {
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    max-width: 340px;
                    max-height: 500px;
                }
            }
        }
    }
}
