.skills-display-container {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-display-wrapp {
    height: 25vh;
    width: 100%;
}

.skills-display-label-wrapp {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.skills-display {
    height: 13vh;
    width: 100%;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.skills-display-label {
    font-size: 20px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #fff, $red);
    //background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
        font-size: 34px;
        color: #ccc;
    }
}

.skill-card:hover {
    i {
        color: $purple;
        transition: 0.4s;
        margin-bottom: 20px;
    }
}