@media screen and (min-width: 601px) {
    .title {
        transform: translateY(20px) rotate(0.01deg);
        opacity: 0;
    }
    
    .heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .subheading {
        transform: translateY(40px) rotate(0.01deg);
        opacity: 0;
    }
    
    .landing-btn-wrapp {
        transform: translateX(-50px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-heading {
        transform: translateX(50px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    #about-supply {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-skill {
        transform: translateX(-70px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-skill1 {
        transform: translateX(-250px) rotate(0.01deg);
    }     
    
    .about-skill2 {
        transform: translateX(-200px) rotate(0.01deg);
    }   
    
    .about-skill3 {
        transform: translateX(-150px) rotate(0.01deg);
    }   
    
    .work-heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .work-subheading {
        transform: translateY(50px) rotate(0.01deg);
        opacity: 0;
    }
    
    .work-subheading-animated {
        transform: translateY(-10px) rotate(0.01deg);
        opacity: 1;
        transition: 1s;
    }
    
    .work-card {
        transform: translateX(-100px) rotate(0.01deg);
        opacity: 0;
    }
    
    .work-card1 {
        transform: translateX(-200px) rotate(0.01deg);
    }
    
    .work-card2 {
        transform: translateX(-300px) rotate(0.01deg);
    }
    
    .work-card3 {
        transform: translateX(-400px) rotate(0.01deg);
    }
    
    .work-card4 {
        transform: translateX(200px) rotate(0.01deg);
    }
    
    .work-card5 {
        transform: translateX(300px) rotate(0.01deg);
    }
    
    .work-card6 {
        transform: translateX(400px) rotate(0.01deg);
    }
    
    .process-heading, .process-intro, .process-heading2, .contact-btn {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process1-txt, .process1-heading2, .process1-txt2 {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process1-heading, .process3-heading, .process5-heading {
        transform: translateX(100px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process2-heading, .process4-heading {
        transform: translateX(-100px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process2-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process3-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process4-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process5-txt, .process5-subheading {
        transform: translateY(30px) rotate(0.01deg); 
        opacity: 0;
    }
    
    .contact-info-heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .contact-info-row-heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    // .contact-info-row-heading1 {
    //     transform: translateY(-20px);
    // }
    
    // .contact-info-row-heading2 {
    //     transform: translateY(-40px);
    // }
    
    // .contact-info-row-heading3 {
    //     transform: translateY(-60px);
    // }
    
    // .contact-info-row-heading4 {
    //     transform: translateY(-80px);
    // }
    
    // .contact-info-row-heading5 {
    //     transform: translateY(-100px);
    // }
    
    // .contact-info-row-heading6 {
    //     transform: translateY(-120px);
    // }
    
    .contact-info-row-link {
        transform: translateX(-30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .animated {
        transform: translateY(0px) rotate(0.01deg);
        opacity: 1;
        transition: 1s;
    }
    
    .animated-horizontal {
        transform: translateX(0px) rotate(0.01deg);
        opacity: 1;
        transition: 1s;
    }
    
} 

@media screen and (max-width: 600px) {
    .title {
        transform: translateY(20px) rotate(0.01deg);
        opacity: 0;
    }
    
    .heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .subheading {
        transform: translateY(40px) rotate(0.01deg);
        opacity: 0;
    }
    
    .landing-btn-wrapp {
        transform: translateY(50px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-heading {
        transform: translateY(50px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    #about-supply {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-skill {
        transform: translateY(70px) rotate(0.01deg);
        opacity: 0;
    }
    
    .about-skill1 {
        transform: translateY(250px) rotate(0.01deg);
    }     
    
    .about-skill2 {
        transform: translateY(200px) rotate(0.01deg);
    }   
    
    .about-skill3 {
        transform: translateY(150px) rotate(0.01deg);
    }   
    
    .work-heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .work-subheading {
        transform: translateY(50px) rotate(0.01deg);
        opacity: 0;
    }
    
    .work-subheading-animated {
        transform: translateY(10px) rotate(0.01deg);
        opacity: 1;
        transition: 1s;
    }
    
    .work-card {
        transform: translateY(100px) rotate(0.01deg);
        opacity: 0;
    }
    
    .work-card1 {
        transform: translateY(200px) rotate(0.01deg);
    }
    
    .work-card2 {
        transform: translateY(300px) rotate(0.01deg);
    }
    
    .work-card3 {
        transform: translateY(400px) rotate(0.01deg);
    }
    
    .work-card4 {
        transform: translateY(200px) rotate(0.01deg);
    }
    
    .work-card5 {
        transform: translateY(300px) rotate(0.01deg);
    }
    
    .work-card6 {
        transform: translateY(400px) rotate(0.01deg);
    }
    
    .process-heading, .process-intro, .process-heading2, .contact-btn {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process1-txt, .process1-heading2, .process1-txt2 {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process1-heading, .process3-heading, .process5-heading {
        transform: translateY(100px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process2-heading, .process4-heading {
        transform: translateY(100px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process2-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process3-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process4-txt {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .process5-txt, .process5-subheading {
        transform: translateY(30px) rotate(0.01deg); 
        opacity: 0;
    }
    
    .contact-info-heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .contact-info-row-heading {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    // .contact-info-row-heading1 {
    //     transform: translateY(-20px);
    // }
    
    // .contact-info-row-heading2 {
    //     transform: translateY(-40px);
    // }
    
    // .contact-info-row-heading3 {
    //     transform: translateY(-60px);
    // }
    
    // .contact-info-row-heading4 {
    //     transform: translateY(-80px);
    // }
    
    // .contact-info-row-heading5 {
    //     transform: translateY(-100px);
    // }
    
    // .contact-info-row-heading6 {
    //     transform: translateY(-120px);
    // }
    
    .contact-info-row-link {
        transform: translateY(30px) rotate(0.01deg);
        opacity: 0;
    }
    
    .animated {
        transform: translateY(0px) rotate(0.01deg);
        opacity: 1;
        transition: 1s;
    }
    
    .animated-horizontal {
        transform: translateY(0px) rotate(0.01deg);
        opacity: 1;
        transition: 1s;
    }
    
} 