#work {
    height: 125vh;
    width: 100%;
    background: url('../assets/wave11.svg') center right no-repeat;
}

.work-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.work-wrapp {
    height: 120vh;
    width: 100%;
}

.work-heading-wrapp {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-content-wrapp {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-heading-line {
    position: absolute;
    height: 15px;
    width: 80px;
    background: $purple;
    border-radius: 25px;
    z-index: 1;
    margin-top: 16px;
    margin-left: 250px;
    display: none;
}

.work-heading {
    position: absolute;
    font-size: 52px;
    z-index: 5;
    //margin-top: 5vh;
}

.work-subheading {
    position: absolute;
    margin-top: 10vh;
    font-size: 20px;
    margin-left: 0;
    font-weight: bold;
}
/*
.work-card {
    height: 500px;
    width: 320px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #ccc;
}

.work-card-content {
    height: 80%;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-card-bg {
    height: 96%;
    width: 96%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: url('../assets/website1.png');
    background-position: center;
    background-size: contain;
}

.work-card-nav {
    height: 20%;
    width: 100%;
    background: #fafafa;
}

.work-card-nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    i {
        font-size: 38px;
    }
}

.work-card-nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.work-card-live-btn {
    height: 45px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid $red;
    font-weight: bold;
}

.work-card-live-btn:hover {
    background: $red;
    color: #fff;
    transition: 0.4s;
}
*/

.work-cards-container {
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*grid-row-gap: 10px;
    grid-column-gap: 10px;*/
}

.work-card {
    //cursor: pointer;
    width: 370px;
    height: 350px;
    border: 1px solid #ccc;
}

.work-card1 {
    background: url('../assets/Annotation\ 2020-08-14\ 010147.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.work-card2 {
    background: url('../assets/web1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.work-card3 {
    background: url('../assets/web2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.work-card4 {
    background: url('../assets/Annotation\ 2020-08-14\ 010444.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.work-card5 {
    background: url('../assets/Annotation\ 2020-08-14\ 010833.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.work-card6 {
    background: url('../assets/Annotation\ 2020-08-14\ 010631.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

/*.work-card:hover::after {
    content: "something";
    height: 400px;
    width: 420px;
    background: #fafafa;
    position: absolute;    
}*/

@keyframes card-animation {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.work-card:hover {

    transition: 1s;
    //transform: rotateZ(360deg);
    //animation: card-animation 1s ease;

    .work-card-content {
        opacity: 1;
        transition: 0.8s;
        transform: translateY(0);

        .work-card-title {
            transition: 1.25s;
            transform: translateY(0);
        }

        .work-card-link {
            transition: 1.25s;
            transform: translateY(0);
        }

        .work-card-txt {
            transition: 0.8s;
            transform: translateY(0);
        }
    }
}

.work-card-content {
    height: 100%;
    width: 100%;
    background: #fafafa;
    background: $purple;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-25px);
}

.work-card-content-section1 {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center  ;
}

.work-card-content-section2 {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-card-title {
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    margin-top: 10px;
    color: #fff;
    transform: translateY(-50px);
}

.work-card-link {
    height: 45px;
    width: 150px;
    border: 3px solid $red;
    background: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    transform: translateY(50px);
}

.work-card-link:hover {
    background: $red;
    color: #fff;
    transition: 0.5s;
}

.work-card-txt {
    color: $red;
    color: #fff;
    margin-top: 180px;
    font-size: 18px;
    transform: translateY(-50px);
}